@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --fundo-principal: rgb(24, 24, 24);
    --fundo-secundario: rgb(36, 36, 36);
    --fundo-claro: rgba(36, 36, 36, 0.432);
    --texto-white: white;
    --text-black: black;
}


* {
    margin: 0px;
    padding: 0px;
}

header#ContainerPai {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.925);
}

div#LogoFixo {
    position: relative;
    display: inline-block;
    height: 55px;
    width: 190px;
}

/*----------------------*/

div#LogoFixo div#AtalhoParaMenu {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

div#AtalhoParaMenu > a > i {
    font-size: 19px;
    margin-top: 8px;
}   

div#AtalhoParaMenu:hover {
    background-color: rgba(68, 68, 68, 0.651);
}

div#LogoFixo div#LogoPagInicial {
    position: absolute;
    top: 10px;
    left: 65px;
    display: inline-block;
    height: 35px;
    border-radius: 10px;
    /* background-color: yellow */
}

div#LogoPagInicial > a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
}

/*----------------------*/

header#ContainerPai div#MenuDoHeader {
    height: 55px;
    /* width: 500px; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    flex-grow: 1;
    /* background-color: yellow; */
}


/*----------------------*/

div#BtnPesquisa {
    height: 35px;
    width: 35px;
    /* flex-shrink: 1; */
    /* flex-grow: 0; */
    /* flex-basis: 100px; */
    text-align: center;
    border-radius: 20px;
    /* background-color: red; */
}

div#BtnPesquisa > a > i {
    margin-top: 8px;
}

div#BtnPesquisa:hover {
    background-color: rgba(68, 68, 68, 0.651);
} 

/*----------------------*/

div#BtnPesquisaVoz {
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    /* background-color: red; */
}

div#BtnPesquisaVoz > a > i {
    margin-top: 8px;
}

div#BtnPesquisaVoz:hover {
    background-color: rgba(68, 68, 68, 0.651);
}

/*----------------------*/

div#BtnCriar {
    position: relative;
    height: 35px;
    width: 70px;
    text-align: center;
    border-radius: 20px;
    /* background-color: red; */
}

div#BtnCriar > a {
    position: absolute;
    top: 8px;
    left: 6px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

div#BtnCriar:hover {
    background-color: rgba(68, 68, 68, 0.651);
}

/*----------------------*/

div#BtnNotificacoes {
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    /* background-color: red; */
}

div#BtnNotificacoes > a > i {
    margin-top: 8px;
}

div#BtnNotificacoes:hover {
    background-color: rgba(68, 68, 68, 0.651);
}

/*----------------------*/

div#BtnPerfil {
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(219, 53, 53);
}

div#BtnPerfil > a > i {
    margin-top: 9px;
}

/*--------------------*/

.menu-lateral {
    background-color: var(--fundo-secundario);
}

